<div class="container">
  <div class="img1">
    <img src="../assets/images/pato-caminhando-verde-unscreen.gif" alt="">
  </div>
  <div class="img2">
    <img src="../assets/images/pato-caminhando-verde-unscreen.gif" alt="">
  </div>
  <h1>Cinco Patinhos</h1>
  <h3>Canção de Xuxa</h3>
  <div class="patinhos">
    <p>Insira o número de patinhos desejado:</p>
    <label for="numPatinhos">Número de Patinhos: </label>
    <input type="number" id="numPatinhos" [(ngModel)]="patinho.numeroPatinhos"><br>
    <button (click)="cantar()">Gerar letra</button>
    <div *ngIf="mensagemInvalido" class="mensagem-invalido">{{ mensagemInvalido }}</div>
    <pre *ngIf="letraMusica" class="letra-musica">{{ letraMusica }}</pre>
  </div>
</div>
