/* You can add global styles to this file, and also import other style files */
/* fonte do app */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    font-family: Poppins;
    background-color: rgb(32, 189, 132);
    color: aliceblue;
    
}

button{
    padding: 8px 12px;
    margin: 6px;
    border-radius: 18px;
    color: aliceblue;
    border-color: aliceblue; 
    border: 2px solid; 
    background-color: rgb(26, 153, 106); 
}

button:focus{
    background-color: rgb(16, 81, 57);
}

h1{
    text-align: center;
    margin-top: -280px;
    
}

h3{
    text-align: center;
}

.patinhos{
    text-align: center;
    
}

input{
    border: 2px solid;
    border-radius: 12px;
}

.img1{
    text-align: left;
    margin-top: -10px;
}

.img2{
    text-align: right;
    margin-top: -280px;
}

.mensagem-invalido{
    color: crimson;
}